{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Master template for creation of DEV Environment STACKID TESTING stack - filename: stackid.testing.template",

 "Parameters" : {
    "appEnvironment" : {
      "Type" : "String",
      "Description" : "Environment for the stack, i.e. dev, production, etc.",
      "Default" : "sandbox"
    },

    "KeyName" : {
      "Type" : "String",
      "Description" : "The the key to SSH machines",
      "Default" : "stamp-sandbox"
    },

    "StackID" : {
      "Type" : "String",
      "Description" : "Stack ID name",
      "Default" : "-testing"
    },

    "InstanceType" : {
      "Description" : "Instance type for API",
      "Type" : "String",
      "Default" : "m3.medium",
      "AllowedValues" : [ "t1.micro","m1.small","m3.medium","m1.large","m1.xlarge","m2.xlarge","m2.2xlarge","m2.4xlarge","m3.xlarge","m3.2xlarge","c1.medium","c1.xlarge","cc1.4xlarge","cc2.8xlarge","cg1.4xlarge"],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "ApiSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for api",
      "Default" : "sg-5279c637"
    },

    "PrivateSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Private network",
      "Default" : "sg-5479c631"
    },

    "MonitorsSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Monitors",
      "Default" : "sg-5679c633"
    },

    "AccountsMXSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Mexico",
      "Default" : "sg-5c79c639"
    },

    "AccountsGTSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Guatemala",
      "Default" : "sg-5179c634"
    },

    "PublicSubnetId" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-52ab6337"
    },

    "PrivateSubnetId" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-5cab6339"
    },

    "gtSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-59ab633c",
      "Description" : "Subnet ID for GT worker"
    },

    "mxSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-5eab633b",
      "Description" : "Subnet ID for MX worker"
    }
  },

  "Resources" : {

    "API" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/api.template",
        "Parameters" : {
          "KeyName": {"Ref":"KeyName"},
          "SubnetId" : { "Ref" : "PublicSubnetId"},
          "SecurityGroupId" : { "Ref" : "ApiSecurityGroup"},
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "Environment" : {"Ref" : "appEnvironment"}
        }
      }
    },

    "redis" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/redis.template",
        "Parameters" : {
          "KeyName": { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "Environment": { "Ref" : "appEnvironment" }
        }
      } 
    },

    "catalog" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/catalog.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },
 
    "accountsGt" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.gt.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "gtSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsGTSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsMx" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.mx.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "mxSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsMXSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "monitors" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/monitors.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },  

    "InternalGateway" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/internal_gateway.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Events" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/events.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Notifications" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/notifications.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "GTWorkerPronet" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/gt_worker_pronet.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "gtSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsGTSecurityGroup" },
          "DeployBranch" : "feature/risk_ofac_only",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "MXWorkerRedEfectiva" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/mx_worker_redefectiva.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "mxSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsMXSecurityGroup" },
          "DeployBranch" : "feature/risk_ofac_only",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },


    "Payments" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/payments.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    }
  }
}

