{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "release/0.8.0 template for creation of DEV Environment stack - filename: stack.dev.template",

 "Parameters" : {
    "appEnvironment" : {
      "Type" : "String",
      "Description" : "Environment for the stack, i.e. dev, production, etc.",
      "Default" : "dev"
    },

    "KeyName" : {
      "Type" : "String",
      "Description" : "The the key to SSH machines",
      "Default" : "stamp-dev"
    },

    "StackID" : {
      "Type" : "String",
      "Description" : "Stack ID name",
      "Default" : "-tooling"
    },

    "InstanceType" : {
      "Description" : "Instance type for API",
      "Type" : "String",
      "Default" : "t1.micro",
      "AllowedValues" : [ "t1.micro","m1.small","m3.medium","m1.large","m1.xlarge","m2.xlarge","m2.2xlarge","m2.4xlarge","m3.xlarge","m3.2xlarge","c1.medium","c1.xlarge","cc1.4xlarge","cc2.8xlarge","cg1.4xlarge"],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "ApiSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for api",
      "Default" : "sg-85aafbe0"
    },

    "PrivateSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Private network",
      "Default" : "sg-81aafbe4"
    },

    "MonitorsSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Monitors",
      "Default" : "sg-84aafbe1"
    },

    "LogstashSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Logstash",
      "Default" : "sg-bbaafbde"
    },

    "AccountsISSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Iceland",
      "Default" : "sg-86aafbe3"
    },

    "AccountsMXSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Mexico",
      "Default" : "sg-87aafbe2"
    },

    "AccountsSVSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts El Salvador",
      "Default" : "sg-b6aafbd3"
    },

    "AccountsGTSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Guatemala",
      "Default" : "sg-83aafbe6"
    },

    "AccountsDOSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Dominican Republic",
      "Default" : "sg-80aafbe5"
    },

    "AccountsNISecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Nicaragua",
      "Default" : "sg-8daafbe8"
    },

    "AccountsPASecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Accounts Panama",
      "Default" : "sg-82aafbe7"
    },

    "PublicSubnetId" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-fb2f3ad3"
    },

    "PrivateSubnetId" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-f82f3ad0"
    },

    "gtSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-fd2f3ad5",
      "Description" : "Subnet ID for GT worker"
    },

    "doSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-ff2f3ad7",
      "Description" : "Subnet ID for DO worker"
    },

    "mxSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-f02f3ad8",
      "Description" : "Subnet ID for MX worker"
    },

    "svSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-fe2f3ad6",
      "Description" : "Subnet ID for SV worker"
    },

    "niSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-fc2f3ad4",
      "Description" : "Subnet ID for NI worker"
    },

    "paSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-fa2f3ad2",
      "Description" : "Subnet ID for PA worker"
    },

    "isSubnetID" : {
      "Type" : "String",
      "Default" : "subnet-f92f3ad1",
      "Description" : "Subnet ID for IS worker"
    }
  },

  "Resources" : {

    "API" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/intgwlikeapi.template",
        "Parameters" : {
          "KeyName": {"Ref":"KeyName"},
          "SubnetId" : { "Ref" : "PublicSubnetId"},
          "SecurityGroupId" : { "Ref" : "ApiSecurityGroup"},
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "Environment" : {"Ref" : "appEnvironment"}
        }
      }
    },

    "HelloWorld" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/hello-world.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "elastickite" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/search.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "StackID" : { "Ref" : "StackID" },
          "DeployBranch" : "release/0.8.0",
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

        "XPA" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/xpa.template",
        "Parameters" : {
          "KeyName": {"Ref":"KeyName"},
          "SubnetId" : { "Ref" : "PublicSubnetId"},
          "SecurityGroupId" : { "Ref" : "ApiSecurityGroup"},
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "Environment" : {"Ref" : "appEnvironment"}
        }
      }
    },

    "logstash" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/logstash.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "catalog" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/catalog.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsIs" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.is.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "isSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsISSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsGt" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.gt.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "gtSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsGTSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsDo" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.do.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "doSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsDOSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsMx" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.mx.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "mxSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsMXSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsSv" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/accounts.sv.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "svSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsSVSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "accountsNi" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/ni_accounts.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "niSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsNISecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Forrest" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/forrest.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SG" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "monitors" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/monitors.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },  

    "InternalGateway" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/internal_gateway.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Events" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/events.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Notifications" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/notifications.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "GTWorkerPronet" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/gt_worker_pronet.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "gtSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsGTSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "MXWorkerRedEfectiva" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/mx_worker_redefectiva.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "mxSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsMXSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "DOWorkerTpago" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/do_worker_tpago.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "doSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsDOSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "SVWorkerPuntoxpress" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/sv_worker_puntoxpress.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "svSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsSVSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "NIWorkerPuntofacil" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/ni_worker_puntofacil.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "niSubnetID" },
          "SecurityGroupId" : { "Ref" : "AccountsNISecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "Payments" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/payments.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetId" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "release/0.8.0",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    }
  }
}

