{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Master template for creation of DEV Environment stack - filename: stack.dev.multiaz.template",

 "Parameters" : {
    "appEnvironment" : {
      "Type" : "String",
      "Description" : "Environment for the stack, i.e. dev, production, etc.",
      "Default" : "dev"
    },

    "KeyName" : {
      "Type" : "String",
      "Description" : "The the key to SSH machines",
      "Default" : "tbp_dev"
    },

    "StackID" : {
      "Type" : "String",
      "Description" : "Stack ID name",
      "Default" : ""
    },

    "InstanceType" : {
      "Description" : "Instance type for API",
      "Type" : "String",
      "Default" : "m3.medium",
      "AllowedValues" : [ "t1.micro","m1.small","m3.medium","m1.large","m1.xlarge","m2.xlarge","m2.2xlarge","m2.4xlarge","m3.xlarge","m3.2xlarge","c1.medium","c1.xlarge","cc1.4xlarge","cc2.8xlarge","cg1.4xlarge"],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "ApiSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for api",
      "Default" : "sg-93e75cf6"
    },

    "PrivateSecurityGroup" : {
      "Type" : "String",
      "Description" : "Security Group ID for Private network",
      "Default" : "sg-9ce75cf9"
    },

    "PublicSubnetId" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-ab36dedc"
    },

    "PrivateSubnetIdZ1" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-ac36dedb"
    },

    "PrivateSubnetIdZ2" : {
      "Type" : "String",
      "Description" : "Subnet id that the api belongs",
      "Default" : "subnet-afbb71ca"
    }
  },

  "Resources" : {

    "API" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/api.template",
        "Parameters" : {
          "KeyName": {"Ref":"KeyName"},
          "SubnetId" : { "Ref" : "PublicSubnetId"},
          "SecurityGroupId" : { "Ref" : "ApiSecurityGroup"},
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "InstanceType" : { "Ref" : "InstanceType"},
          "Environment" : {"Ref" : "appEnvironment"}
        }
      }
    },

    "HelloWorld1" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/hello-world.multiaz.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetIdZ1" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    },

    "HelloWorld2" : {
      "Type" : "AWS::CloudFormation::Stack",
      "Properties" : {
        "TemplateURL" : "https://s3-us-west-2.amazonaws.com/pruebastack/hello-world.multiaz.template",
        "Parameters" : {
          "KeyName" : { "Ref" : "KeyName" },
          "SubnetId" : { "Ref" : "PrivateSubnetIdZ2" },
          "SecurityGroupId" : { "Ref" : "PrivateSecurityGroup" },
          "DeployBranch" : "master",
          "StackID" : { "Ref" : "StackID" },
          "Environment" : { "Ref" : "appEnvironment" }
        }
      }
    }
  }
}

